@import "tailwindcss";

@font-face {
  font-family: ChicAvenue-Regular;
  src: url('./fonts/chic-avenue/ChicAvenue-Regular.otf');
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: "Inter", sans-serif;
  }

  .custom-font {
    font-size: 14px;
  }

  .font-num{
    font-family:'MonteCarlo', cursive;
    font-size: 16px;
  }

  .hero-head{
    font-family: 'Lora', serif;
    font-style: italic;
    /* font-weight: 100; */
    /* font-family: 'ChicAvenue-Regular'; */
    color: #0A0A0A;
    font-size: 90px;
    line-height: 1;
  }
}
